*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    background-color: rgb(189, 189, 189);
    height: 100%;
    width: 100%;
    padding: 40px;
}
.row h2{
    text-align: center;
    padding: 10px 0;
    font-size: 32px;
    margin-bottom: 40px;
}
.col3{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.stateContainer{
    display: flex;
    justify-content: center;
    
}

.formLabel{
    margin: 0 10px;
    font-size: 24px;
    font-weight: 600;
}
.formSelect,datalist{
    width: 350px;
    padding: 8px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 0 10px;
    padding-left: 20px;
}
.formSelectDays{
    width: 150px;
    padding: 8px;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 0 10px;
    padding-left: 20px;
}
.formSelect option{
    font-size: 18px;

}
.btn{
    margin-top: 50px;
    padding: 8px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 2px 4px 6px 0px black;
    cursor: pointer;
    background-color: rgb(246, 56, 88);
    color: white;
}
.btn:hover{
    background-color: rgb(238, 43, 76);
}