*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}

.mainContainer{
  height: 100%;
 
}
.regBody{
  color: #222222;
  background-color: #56385a;
  background-image: url("./cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 70px;
  /* padding-bottom: 40px;   */
}
.formContainer{
  width: 450px;
  margin: 0 auto; 
  
}
.formBody{
  background-color: #2c162f;
  /* background-color: #231025; */
  opacity: 0.7;
  padding: 50px;
  /* margin-top: 80px; */
  color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.6), 0 10px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.formBody h2{
  text-align: center;
  padding: 5px 0;
  margin-bottom: 40px;
  font-size: 32px;
}

.form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.form label{
  margin-bottom: 10px;
  color: #e6e6e6;
  font-weight: bold;
}
.form [type="email"],
.form [type="password"],.form [type="text"] {
  padding: 15px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  margin-bottom: 15px;
  transition: background .3s;
  color: #e6e6e6;
  margin-bottom: 30px;
}

.form [type="email"]::placeholder,
.form [type="password"]::placeholder,
.form [type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.form [type="email"]:hover,
.form [type="password"]:hover,
.form [type="text"]:hover {
  background: rgba(0, 0, 0, 0.1);
}

.form [type="email"]:focus,
.form [type="password"]:focus,
.form [type="text"]:focus
 {
  background: #ffffff;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border-color: #4a304d;
  color: #222222;
  outline: none;
}

.form [type="email"]:focus::placeholder,
.form [type="password"]:focus::placeholder,
.form [type="text"]:focus::placeholder {
  color: #666666;
}
.err{
  position: relative;
  top: -20px;
  color: rgb(255, 36, 36);
}
.checkbox {
  font-size: 18px;
  color: #e6e6e6;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.checkbox input{
  width: 20px;
  height: 20px;
  outline: none;
  margin-right: 10px;
  cursor: pointer;

}
.checkbox span{
  font-size: 16px;
}

.login {
  background: #ffb37b;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 18px;
  font-size: 20px;
  width: 350px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  color: black;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.form [type="submit"]:hover {
  opacity: .9;
  background-color: #ef9554;

}

.formFooter{
  text-align: center;
  padding: 25px 20px;
  font-size: 18px;
  color: #e6e6e6;
}
.formFooter a{
  color: #ffb37b;
  text-decoration: none;
}

.formFooter a:hover{
  color: #ef9554;

}


@media screen and (max-width:560px) {
  .formContainer{
    width: 300px;
  }
}