*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: "Muli", sans-serif, -apple-system, BlinkMacSystemFont,"Helvetica Neue", Helvetica, sans-serif;
  outline: none;
  margin: 0;
  padding: 0;
 
}


.regBody {
  width: 100%;
  height: 100%;
  color: #222222;
  background-color: #f2f2f0 !important;
  background-color: #2e93ac !important;
  background-image: url("./cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  display: flex;
  flex-grow: 1;
}


.formContainer{
  padding : 20px 0px 50px 0px;
  width: 100vw;
  height: 100%;
  
}

.formBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  background-color: #313131;
  opacity: .7;
  margin: 50px auto;
  padding: 50px 50px 20px 50px  ;
  border-radius: 5px;
}
.err{
  color: rgb(255, 125, 125);
  margin-top: -12px;
  margin-bottom: 20px;
}
.form{
  display: flex;  
  flex-direction: column;
  justify-content: center;
  height: 100%;   

}

.title{
  text-align: center;
  font-weight: 600;
  font-size: 38px;
  color: #cbebf4;
  padding-bottom: 40px;
}
.checkbox{
  color: rgb(200, 200, 200);
  font-weight: bold;
  display: flex;
  align-items: center;
}
.checkbox input{
  height: 18px;
  width: 18px ;
  margin-right: 10px;
}
.checkbox span{
  margin-top: -20px;
}

.form label{
  margin-bottom: 8px;
  color: #e6e6e6;
  font-weight: bold;
  margin-left: 2px;
}
.form input{
  padding: 15px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.618);
  border-radius: 3px;
  margin-bottom: 20px;
  transition: background .3s;
  color: #e6e6e6;
}
.form input::placeholder {
  color: rgba(255, 255, 255, 0.465);
}

.form input:hover {
  background: rgb(25, 25, 25);
}

.form input:focus {
  background: #ffffff;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  border-color: #4a304d;
  color: #222222;
}
.form input:focus::placeholder {
  color: #666666;
}

.form [type = "submit"]{
  background-color: #7bcfff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px;
  font-size: 20px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  color: black;
  box-shadow: 1px 4px 6px 0px rgb(41, 41, 41);
}
.form [type = "submit"]:hover{
  background-color: #6e8097;

}

.formFooter {
  text-align: center;
  padding: 25px 20px;
  font-size: 18px;
  color: #e6e6e6;
}

.formFooter a {
  color: #00fff7;
  text-decoration: none;
}

.formFooter a:hover{
  color: #14cfc9;
  
}