*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(255,64,118)  ,rgb(255,150,125) );
}
.preloader{
    width: 40%;
    
    filter: contrast(1.8);
    
}